.OtherOrdersPageContainer {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.OtherOrdersPageUpper {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.OtherOrdersPageLower {
    width: 100%;
    height: 85%;
    margin: auto 0;
    display: flex;
}

.OtherOrdersPageLowerLeft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.OtherOrdersPageProductCardDiv {
    margin-top: 3rem;
    margin-left: 3rem;
    width: 40%;
    height: 25%;
    border: 1px solid red;
}

.OtherOrdersPageStatusDiv {
    width: 30%;
    height: 10%;
    margin: auto auto;
}

.OtherOrdersPageStatusCard {
    width: 100%;
    height: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.OtherOrdersPageLowerMiddle {
    width: 1.5px;
    height: 100%;
    background-color: #a09e9ee1;
}

.OtherOrdersPageLowerRight {
    width: 50%;
    height: 100%;
    display: flex;
}

.OtherOrdersPageBuyerInformation {
    width: 80%;
    height: 95%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
}

.OtherOrdersPageBuyerInformation > * {
    margin: 0.5rem 0;
}

.OtherOrdersPageOrderTypeDiv {
    width: 100%;
    height: 20%;
}

.OtherOrdersPageOrderTypeHeadingDiv {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.OtherOrdersPageOrderTypeInformationDiv {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.OtherOrdersPageOrderTypeIconDiv {
    font-size: 1.2rem;
    margin-right: 5rem;
    color: #666565;
}

.OtherOrdersPageOrderTypeText {
    font-size: 1.2rem;
}

.OtherOrdersPageBuyerInformationDividingLine {
    width: 100%;
    height: 2px;
    background-color: #a09e9ee1;
}

.OtherOrdersPageBuyerAddressDiv {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.OtherOrdersPageBuyerAddressInformationDiv {
    width: 50%;
    height: auto;
    margin: auto 0;
    display: flex;
    flex-direction: row;
}

.OtherOrdersPageBuyerAddressMapMarkerIconDiv {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: #2ECC71;
    padding-top: 0.2rem;
}

.OtherOrdersPageBuyerAddressTextDiv {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.OtherOrdersPageBuyerAddressHeading {
    width: 100%;
    height: 15%;
    font-size: 1.3rem;
    font-weight: 500;
}

.OtherOrdersPageBuyerAddresseeName {
    width: 100%;
    height: 12%;
    margin-bottom: 0.7rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.OtherOrdersPageBuyerAddressLines, .OtherOrdersPageBuyerAddresseePhoneNumber {
    width: 100%;
    height: 10%;
    font-size: 1rem;
    font-weight: 400;
}

.OtherOrdersPageBuyerAddressDetailsButtonDiv {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.OtherOrdersPageBuyerAddressDetailsButton {
    max-height: 2rem;
    max-width: 4rem;
    padding: 1.1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #E4E4E4;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.7rem;
    transition: all 0.2s ease;
    cursor: pointer;
}

.OtherOrdersPageBuyerAddressDetailsButton:hover {
    background-color: #cacaca;
}

.OtherOrdersPagePaymentMethod {
    width: 100%;
    height: 40%;
    border: 1px solid red;
}