.OtherOrdersPageContainer {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.OtherOrdersPageUpper {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.OtherOrdersPageLower {
    width: 100%;
    height: 85%;
    margin: auto 0;
    display: flex;
    flex-direction: row;
}

.OtherOrdersPageLowerLeft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.OtherOrdersPageProductCardDiv {
    margin-top: 3rem;
    margin-left: 3rem;
    width: 40%;
    height: 25%;
    display: flex;
    flex-direction: row;
}

.OtherOrdersPageProductCardImageDiv {
    width: 50%;
    height: 100%;
    margin-right: 1rem;
}

.OtherOrdersPageProductCardImage {
    max-width: 90%;
    height: auto;
}

.OtherOrdersPageProductCardInformationDiv {
    width: 50%;
    height: 100%;
}

.OtherOrdersPageProductCardInformationHeading {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.OtherOrdersPageProductCardInformationColor {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}

.OtherOrdersPageProductCardInformationQuantityDiv {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.OtherOrdersPageProductCardInformationQuantityHeading {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.OtherOrdersPageProductCardInformationQuantity {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
}

.OtherOrdersPageStatusDiv {
    width: 30%;
    height: 10%;
    margin: auto auto;
}

.OtherOrdersPageStatusCard {
    width: 100%;
    height: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.OtherOrdersPageLowerMiddle {
    width: 1.5px;
    height: 100%;
    background-color: #a09e9ee1;
}

.OtherOrdersPageLowerRight {
    width: 50%;
    height: 100%;
    display: flex;
}

.OtherOrdersPageBuyerInformation {
    width: 80%;
    height: 95%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
}

.OtherOrdersPageBuyerInformation > * {
    margin: 0.5rem 0;
}

.OtherOrdersPageOrderTypeDiv {
    width: 100%;
    height: 20%;
}

.OtherOrdersPageOrderTypeHeadingDiv {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.OtherOrdersPageOrderTypeInformationDiv {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.OtherOrdersPageOrderTypeIconDiv {
    font-size: 1.2rem;
    margin-right: 5rem;
    color: #666565;
}

.OtherOrdersPageOrderTypeText {
    font-size: 1.2rem;
}

.OtherOrdersPageBuyerInformationDividingLine {
    width: 100%;
    height: 2px;
    background-color: #a09e9ee1;
}

.OtherOrdersPageBuyerAddressDiv {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.OtherOrdersPageBuyerAddressInformationDiv {
    width: 50%;
    height: auto;
    margin: auto 0;
    display: flex;
    flex-direction: row;
}

.OtherOrdersPageBuyerAddressMapMarkerIconDiv {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: #2ECC71;
    padding-top: 0.2rem;
}

.OtherOrdersPageBuyerAddressTextDiv {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.OtherOrdersPageBuyerAddressHeading {
    width: 100%;
    height: 15%;
    font-size: 1.3rem;
    font-weight: 500;
}

.OtherOrdersPageBuyerAddresseeName {
    width: 100%;
    height: 12%;
    margin-bottom: 0.7rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.OtherOrdersPageBuyerAddressLines, .OtherOrdersPageBuyerAddresseePhoneNumber {
    width: 100%;
    height: 10%;
    font-size: 1rem;
    font-weight: 400;
}

.OtherOrdersPageBuyerAddressDetailsButtonDiv {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.OtherOrdersPageBuyerAddressDetailsButton {
    max-height: 2rem;
    max-width: 4rem;
    padding: 1.1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #E4E4E4;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.7rem;
    transition: all 0.2s ease;
    cursor: pointer;
}

.OtherOrdersPageBuyerAddressDetailsButton:hover {
    background-color: #cacaca;
}

.OtherOrdersPagePaymentMethod {
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.OtherOrdersPagePaymentMethodHeading {
    width: 100%;
    height: 20%;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.OtherOrdersPagePaymentMethodCardInformation {
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.OtherOrdersPagePaymentMethodCardIcon {
    width: 20%;
    height: 100%;
    display: flex;
    font-size: 1.2rem;
}

.OtherOrdersPagePaymentMethodCardNumber {
    width: 60%;
    height: 100%;
}

.OtherOrdersPagePaymentMethodOrderDetailsHeading {
    width: 100%;
    height: 20%;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.OtherOrdersPagePaymentMethodSubtotalDiv, .OtherOrdersPagePaymentMethodShippingCostDiv, .OtherOrdersPagePaymentMethodTotalCostDiv {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
}

.OtherOrdersPagePaymentMethodShippingCostDiv {
    margin-bottom: 0.5rem;
}

.OtherOrdersPagePaymentMethodSubtotalCostHeading, .OtherOrdersPagePaymentMethodShippingCostHeading, .OtherOrdersPagePaymentMethodTotalCostHeading {
    width: 40%;
    height: 100%;
}

.OtherOrdersPagePaymentMethodTotalCostHeading {
    font-weight: bolder;
}

.OtherOrdersPagePaymentMethodSubtotalCost, .OtherOrdersPagePaymentMethodShippingCost, .OtherOrdersPagePaymentMethodTotalCost {
    width: 35%;
    height: 100%;
}

.OtherOrdersPagePaymentMethodTotalCost {
    font-weight: bolder;
}

@media only screen and (max-width: 1101px) {
    .OtherOrdersPageContainer {
        overflow: scroll;
    }

    .OtherOrdersPageProductCardDiv {
        height: 70%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .OtherOrdersPageProductCardInformationHeading {
        font-size: 0.85rem;
    }

    .OtherOrdersPageProductCardInformationColor {
        font-size: 0.8rem;
    }

    .OtherOrdersPageLowerRight {
        width: 70%;
    }
    
    .OtherOrdersPageProductCardInformationQuantityDiv {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .OtherOrdersPageProductCardInformationQuantityHeading {
        font-size: 0.8rem;
    }

    .OtherOrdersPageProductCardInformationQuantity {
        font-size: 0.7rem;
    }

    .OtherOrdersPageStatusDiv {
        margin: 0 auto;
        width: 40%;
        height: 10%;
        margin-bottom: 2rem;
    }

    .OtherOrdersPageStatusCard {
        font-size: 1rem;
    }

    .OtherOrdersPageLower {
        flex-direction: column;
    }

    .OtherOrdersPageUpper {
        justify-content: center;
    }

    .OtherOrdersPageLowerLeft {
        width: 100%;
    }

    .OtherOrdersPageLowerRight {
        margin: 0 auto;
    }

    .OtherOrdersPageOrderTypeHeadingDiv {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .OtherOrdersPageOrderTypeDiv {
        margin-bottom: 2rem;
    }

    .OtherOrdersPageBuyerAddressInformationDiv {
        width: 80%;
    }

    .OtherOrdersPageBuyerAddressHeading {
        font-size: 1.3rem;
    }

    .OtherOrdersPageBuyerAddressDiv {
        width: 100%;
        margin-bottom: 2rem;
    }

    .OtherOrdersPageBuyerAddresseeName {
        font-size: 1.1rem;
    }

    .OtherOrdersPagePaymentMethodHeading {
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 740px) {
    .OtherOrdersPageContainer {
        overflow: scroll;
    }

    .OtherOrdersPageBuyerAddressMapMarkerIconDiv {
        width: 5%;
    }

    .OtherOrdersPagePaymentMethod {
        width: 80%;
    }

    .OtherOrdersPageLowerRight {
        width: 80%;
    }

    .OtherOrdersPagePaymentMethodOrderDetailsHeading {
        font-size: 1.1rem;
    }

    .OtherOrdersPagePaymentMethodShippingCostDiv, .OtherOrdersPagePaymentMethodSubtotalDiv, .OtherOrdersPagePaymentMethodTotalCostHeading {
        width: 130%;
    }
}

@media only screen and (max-width: 550px) {
    .OtherOrdersPageProductCardDiv {
        width: 60%;
    }

    .OtherOrdersPageBuyerAddressHeading, .OtherOrdersPageOrderTypeHeadingDiv, .OtherOrdersPagePaymentMethodHeading {
        font-size: 1rem;
    }

    .OtherOrdersPageBuyerAddresseeName {
        font-size: 0.9rem;
    }

    .OtherOrdersPageBuyerAddressHeading, .OtherOrdersPageOrderTypeHeadingDiv, .OtherOrdersPagePaymentMethodHeading {
        font-size: 1.2rem;
    }

    .OtherOrdersPagePaymentMethodOrderDetailsHeading {
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .OtherOrdersPagePaymentMethodSubtotalDiv, .OtherOrdersPagePaymentMethodShippingCostDiv, .OtherOrdersPagePaymentMethodTotalCostDiv, .OtherOrdersPageBuyerAddressLines, .OtherOrdersPageBuyerAddresseePhoneNumber, .OtherOrdersPageOrderTypeText {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 450px)  {
    .OtherOrdersPageLowerRight {
        width: 90%;
    }

    .OtherOrdersPagePaymentMethodCardNumber {
        width: 140%;
        font-size: 0.9rem;
        text-align: center;
    }

    .OtherOrdersPagePaymentMethodOrderDetailsHeading {
        margin-top: 2rem;
    }

    .OtherOrdersPageBuyerAddressHeading, .OtherOrdersPageOrderTypeHeadingDiv, .OtherOrdersPagePaymentMethodHeading {
        font-size: 1rem;
    }

    .OtherOrdersPagePaymentMethodOrderDetailsHeading {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .OtherOrdersPagePaymentMethodSubtotalDiv, .OtherOrdersPagePaymentMethodShippingCostDiv, .OtherOrdersPagePaymentMethodTotalCostDiv, .OtherOrdersPageBuyerAddressLines, .OtherOrdersPageBuyerAddresseePhoneNumber, .OtherOrdersPageOrderTypeText {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 361px) {
    .OtherOrdersPageLowerRight {
        width: 100%;
    }

    .OtherOrdersPageStatusDiv {
        width: 80%;
    }

    .OtherOrdersPageBuyerAddressHeading, .OtherOrdersPageOrderTypeHeadingDiv, .OtherOrdersPagePaymentMethodHeading {
        font-size: 0.8rem;
    }

    .OtherOrdersPagePaymentMethodOrderDetailsHeading {
        margin-top: 1rem;
        font-size: 0.8rem;
    }

    .OtherOrdersPagePaymentMethodSubtotalDiv, .OtherOrdersPagePaymentMethodShippingCostDiv, .OtherOrdersPagePaymentMethodTotalCostDiv, .OtherOrdersPageBuyerAddressLines, .OtherOrdersPageBuyerAddresseePhoneNumber, .OtherOrdersPageOrderTypeText {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 300px) {
    .OtherOrdersPageProductCardInformationHeading {
        font-size: 0.8rem;
    }

    .OtherOrdersPageProductCardDiv {
        width: 100%;
    }
}